[submodule "src/json/jsmn"]
	path = src/common/json/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "src/conf/inih"]
	path = src/common/utils/inih
	url = https://github.com/benhoyt/inih.git
